{
    "local": {
        "server": "192.168.2.91",
        "buses": {
            "hd44780": {
                "LCD_RS": "P8_15",
                "LCD_D4": "P8_11",
                "LCD_D5": "P8_12",
                "LCD_D6": "P8_13",
                "LCD_D7": "P8_14"
            },
            "nokia": {
                "LCD_DC": "P9_26",
                "LCD_RST": "P9_25",
                "LCD_LED": "P9_27",
                "LCD_SCLK": "P9_14",
                "LCD_DIN": "P9_12"
            }
        },
        "controls": {
            "0": {
                "display": {
                   "type": "hd44780",
                   "width": 20,
                   "height": 4,
                   "pin": "P9_15"
                },
                "hardware": "instructions",
                "pins": {
                }
            },
            "1": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_11"
                },
                "hardware": "phonestylemenu",
                "pins": {
                    "BTN_1": "P9_24",
                    "BTN_2": "P9_23",
                    "RGB_R": "P9_21",
                    "RGB_G": "P9_22",
                    "RGB_B": "P9_28"
                },
                "colours": {
                    "red": [1, 0, 0],
                    "green": [0, 1, 0],
                    "blue": [0, 0, 1],
                    "yellow": [1, 1, 0],
                    "magenta": [1, 0, 1],
                    "cyan": [0, 1, 1],
                    "white": [1, 1, 1]
                }
            },
            "2": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_9"
                },
                "hardware": "bargraphpotentiometer",
                "pins": {
                    "BAR_1": "P8_46",
                    "BAR_2": "P8_45",
                    "BAR_3": "P8_44",
                    "BAR_4": "P8_43",
                    "BAR_5": "P8_42",
                    "BAR_6": "P8_41",
                    "BAR_7": "P8_40",
                    "BAR_8": "P8_39",
                    "BAR_9": "P8_38",
                    "BAR_10": "P8_37",
                    "POT": "P9_33"
                },
                "calibration": {
                    "selector": {
                        "0": 0.02,
                        "1": 0.12,
                        "2": 0.23,
                        "3": 0.35,
                        "4": 0.45,
                        "5": 0.56,
                        "6": 0.67,
                        "7": 0.78,
                        "8": 0.9,
                        "9": 0.997,
                        "10": 1.0
                    }
                }
            },
            "3": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_16"
                },
                "hardware": "combo7SegColourRotary",
                "pins": {
                    "SEG_D": "P9_20",
                    "SEG_C": "P9_19",
                    "ROT_A": "P8_24",
                    "ROT_B": "P8_22",
                    "ROT_C": "P8_20",
                    "BTN": "P9_17",
                    "RGB_R": "P9_18",
                    "RGB_G": "P9_41",
                    "RGB_B": "P9_42"
                },
                "colours": {
                    "red": [1, 0, 0],
                    "green": [0, 1, 0],
                    "blue": [0, 0, 1],
                    "yellow": [1, 1, 0],
                    "magenta": [1, 0, 1],
                    "cyan": [0, 1, 1],
                    "white": [1, 1, 1]
                }
            },
            "4": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P9_13"
                },
                "hardware": "switchbank",
                "pins": {
                    "SW_1": "P8_33",
                    "SW_2": "P8_34",
                    "SW_3": "P8_35",
                    "SW_4": "P8_36",
                    "LED_1": "P8_31",
                    "LED_2": "P8_29",
                    "LED_3": "P8_30",
                    "LED_4": "P8_32"
                }
            },
            "5": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_10"
                },
                "hardware": "illuminatedbutton",
                "pins": {
                    "BTN": "P8_27",
                    "LED": "P8_28"
                }
            },
            "6": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_16"
                },
                "hardware": "potentiometer",
                "pins": {
                    "POT": "P9_35"
                },
                "calibration": {
                    "selector": {
                        "0": 0.02,
                        "1": 0.12,
                        "2": 0.23,
                        "3": 0.35,
                        "4": 0.45,
                        "5": 0.56,
                        "6": 0.67,
                        "7": 0.78,
                        "8": 0.9,
                        "9": 0.997,
                        "10": 1.0
                    },
                    "colour": {
                        "white": 0.09,
                        "yellow": 0.25,
                        "cyan": 0.43,
                        "green": 0.59,
                        "magenta": 0.75,
                        "red": 0.92,
                        "blue": 1.0
                    },
                    "words": {
                        "0": 0.11,
                        "1": 0.30,
                        "2": 0.50,
                        "3": 0.71,
                        "4": 0.905,
                        "5": 1.0
                    }
                }
            }
        } 
    },
    "interface": {
        "ip": "192.168.2.21",
        "controls": [
            {
                "id": "1",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red",
                            "magenta", 
                            "green",
                            "cyan",
                            "yellow",
                            "white"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0,
                        "quantity": 6
                    },
                    {
                        "type": "verbs",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0,
                        "quantity": 2
                    }
                ]
            },
            {
                "id": "2",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 0,
                        "min": 0,
                        "max": 10
                    }
                ]
            },
            {
                "id": "3",
                "width": 16,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red", 
                            "green",
                            "cyan",
                            "yellow"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 1,
                        "fixed": 0,
                        "quantity": 6
                    }
                ]
            },
            {
                "id": "4",
                "width": 16,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    }
                ]
            },
            {
                "id": "5",
                "width": 16,
                "gamestart": 1,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    }
                ]
            },
            {
                "id": "6",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 0,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 0,
                        "values": [
                            "white", 
                            "yellow", 
                            "cyan",
                            "green",
                            "magenta",
                            "red",
                            "blue"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 0,
                        "safe": 0,
                        "fixed": 0,
                        "list": "allcontrolwords",
                        "quantity": 6
                    },
                    {
                        "type": "verbs",
                        "assignable": 0,
                        "fixed": 0,
                        "list": "verbs",
                        "quantity": 6
                    }
                ]
            }
        ]
    }
}
