{
    "local": {
        "server": "192.168.1.30",
        "buses": {
            "hd44780": {
                "LCD_RS": "P8_15",
                "LCD_D4": "P8_11",
                "LCD_D5": "P8_12",
                "LCD_D6": "P8_13",
                "LCD_D7": "P8_14"
            },
            "nokia": {
                "LCD_DC": "P9_26",
                "LCD_RST": "P9_25",
                "LCD_LED": "P9_27",
                "LCD_SCLK": "P9_14",
                "LCD_DIN": "P9_12"
            }
        },
        "controls": {
            "0": {
                "display": {
                   "type": "hd44780",
                   "width": 20,
                   "height": 4,
                   "pin": "P9_15"
                },
                "hardware": "instructions",
                "pins": {
                }
            },
            "1": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_16"
                },
                "hardware": "combo7SegColourRotary",
                "pins": {
                    "SEG_D": "P9_20",
                    "SEG_C": "P9_19",
                    "ROT_A": "P8_32",
                    "ROT_B": "P8_34",
                    "BTN": "P8_33",
                    "RGB_R": "P8_29",
                    "RGB_G": "P8_27",
                    "RGB_B": "P8_46"    
                },
                "colours": {
                    "red": [1, 0, 0],
                    "green": [0, 1, 0],
                    "blue": [0, 0, 1],
                    "yellow": [1, 1, 0],
                    "magenta": [1, 0, 1],
                    "cyan": [0, 1, 1],
                    "white": [1, 1, 1]
                }
            },
            "2": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_X"
                },
                "hardware": "illuminatedtoggle",
                "pins": {
                    "SW": "P8_28",
                    "LED": "P9_X"
                }
            },
            "3": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_9"
                },
                "hardware": "fourbuttons",
                "pins": {
                    "BTN_1": "P8_19",
                    "BTN_2": "P8_17",
                    "BTN_3": "P8_31",
                    "BTN_4": "P8_18"
                }
            },
            "4": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_X"
                },
                "hardware": "potentiometer",
                "pins": {
                    "POT": "P9_33"
                },
                "calibration": {
                    "selector": {
                        "0": 0.068,
                        "1": 0.148,
                        "2": 0.245,
                        "3": 0.335,
                        "4": 0.43,
                        "5": 0.525,
                        "6": 0.62,
                        "7": 0.71,
                        "8": 0.8,
                        "9": 0.9,
                        "10": 1.0
                    },
                    "colour": {
                        "white": 0.068,
                        "yellow": 0.235,
                        "cyan": 0.4,
                        "green": 0.575,
                        "magenta": 0.738,
                        "red": 0.9,
                        "blue": 1.0
                    },
                    "words": {
                        "0": 0.068,
                        "1": 0.2,
                        "2": 0.4,
                        "3": 0.6,
                        "4": 0.8,
                        "5": 1.0
                    }
                }
            },
            "5": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_10"
                },
                "hardware": "illuminatedbutton",
                "pins": {
                    "BTN": "P8_30",
                    "LED": "P8_45"
                }
            },
            "6": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_X"
                },
                "hardware": "keypad",
                "pins": {
                    "ROW_1": "P9_42",
                    "ROW_2": "P9_41",
                    "ROW_3": "P8_40",
                    "ROW_4": "P8_38",
                    "COL_1": "P8_36",
                    "COL_2": "P8_35",
                    "COL_3": "P8_39",
                    "COL_4": "P8_37"
                }
            }
        } 
    },
    "interface": {
        "ip": "192.168.1.31",
        "controls": [
            {
                "id": "1",
                "width": 16,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red", 
                            "green",
                            "cyan",
                            "yellow"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 1,
                        "fixed": 0,
                        "quantity": 6
                    }
                ]
            },
            {
                "id": "2",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    }
                ]
            },
            {
                "id": "3",
                "width": 16,
                "supported": [
                    {
                        "type": "verbs",
                        "assignable": 1,
                        "fixed": 1,
                        "list": ["Purge", "Reset", "Unwind", "Open"]
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "green", 
                            "red",
                            "yellow"
                        ]
                    }
                ]
            },
            {
                "id": "4",
                "width": 14,
                "supported": [
                    {
                        "type": "selector",
                        "assignable": 0,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 0,
                        "values": [
                            "white", 
                            "yellow", 
                            "cyan",
                            "green",
                            "magenta",
                            "red",
                            "blue"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 0,
                        "safe": 0,
                        "fixed": 0,
                        "list": "allcontrolwords",
                        "quantity": 6
                    },
                    {
                        "type": "verbs",
                        "assignable": 0,
                        "fixed": 0,
                        "list": "verbs",
                        "quantity": 6
                    }
                ]
            },
            {
                "id": "5",
                "width": 16,
                "gamestart": 1,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    }
                ]
            },
            {
                "id": "6",
                "width": 14,
                "supported": [
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 9
                    },
                    {
                        "type": "pin",
                        "assignable": 1
                    }
                ]
            }
        ]
    }
}
