{
    "local": {
        "server": "192.168.1.30",
        "controls": {
            "0": {
                "display": {
                   "type": "hd44780",
                   "width": 20,
                   "pin": "P9_X",
                   "index": 0
                },
                "hardware": "instructions",
                "pins": {
                }
            },
            "1": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "pin": "P9_X",
                   "index": 0
                },
                "hardware": "phonestylemenu",
                "pins": {
                }
            },
            "2": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "pin": "P9_X",
                   "index": 1
                },
                "hardware": "bargraphpotentiometer",
                "pins": {
                }
            },
            "3": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "pin": "P9_X",
                   "index": 2
                },
                "hardware": "combo7SegColourRotary",
                "pins": {
                }
            },
            "4": {
                "display": {
                   "type": "hdd44780",
                   "width": 16,
                   "pin": "P9_X",
                   "index": 3
                },
                "hardware": "switchbank",
                "pins": {
                }
            },
            "5": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "pin": "P9_X",
                   "index": 3
                },
                "hardware": "illuminatedbutton",
                "pins": {
                }
            },
            "6": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "pin": "P9_X",
                   "index": 2
                },
                "hardware": "potentiometer",
                "pins": {
                }
            }
        } 
    },
    "interface": {
        "ip": "192.168.1.32",
        "controls": [
            {
                "id": 1,
                "width": 14,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red",
                            "magenta", 
                            "green",
                            "cyan",
                            "yellow",
                            "white"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0
                    },
                    {
                        "type": "verbs",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0
                    }
                ]
            },
            {
                "id": 2,
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    }
                ]
            },
            {
                "id": 3,
                "width": 16,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red", 
                            "green",
                            "cyan",
                            "yellow"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 1,
                        "fixed": 0
                    }
                ]
            },
            {
                "id": 4,
                "width": 16,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    }
                ]
            },
            {
                "id": 5,
                "width": 16,
                "gamestart": 1,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    }
                ]
            },
            {
                "id": 4,
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 0,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 0,
                        "values": [
                            "white", 
                            "yellow", 
                            "cyan",
                            "green",
                            "magenta",
                            "red",
                            "blue"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 0,
                        "safe": 0,
                        "fixed": 0,
                        "list": "allcontrolwords"
                    },
                    {
                        "type": "verbs",
                        "assignable": 0,
                        "fixed": 0,
                        "list": "verbs"
                    }
                ]
            }
        ]
    }
}
