{
    "local": {
        "server": "192.168.1.30",
        "buses": {
            "hd44780": {
                "LCD_RS": "P8_15",
                "LCD_D4": "P8_11",
                "LCD_D5": "P8_12",
                "LCD_D6": "P8_13",
                "LCD_D7": "P8_14"
            },
            "nokia": {
                "LCD_DC": "P9_26",
                "LCD_RST": "P9_25",
                "LCD_LED": "P9_27",
                "LCD_SCLK": "P9_14",
                "LCD_DIN": "P9_12"
            }
        },
        "controls": {
            "0": {
                "display": {
                   "type": "hd44780",
                   "width": 20,
                   "height": 4,
                   "pin": "P9_15",
                   "index": 0
                },
                "hardware": "instructions",
                "pins": {
                    "LCD_E":  "P9_15"
                }
            },
            "1": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_11",
                   "index": 0
                },
                "hardware": "phonestylemenu",
                "pins": {
                    "LCD_SCE": "P9_11",
                    "BTN_1": "P9_X",
                    "BTN_2": "P9_X",
                    "RGB_R": "P9_X",
                    "RGB_G": "P9_X",
                    "RGB_B": "P9_X"
                }
            },
            "2": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_9",
                   "index": 1
                },
                "hardware": "bargraphpotentiometer",
                "pins": {
                    "LCD_E": "P8_9",
                    "BAR_1": "P9_X",
                    "BAR_2": "P9_X",
                    "BAR_3": "P9_X",
                    "BAR_4": "P9_X",
                    "BAR_5": "P9_X",
                    "BAR_6": "P9_X",
                    "BAR_7": "P9_X",
                    "BAR_8": "P9_X",
                    "BAR_9": "P9_X",
                    "BAR_10": "P9_X",
                    "POT": "P9_X"
                }
            },
            "3": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_16",
                   "index": 2
                },
                "hardware": "combo7SegColourRotary",
                "pins": {
                    "LCD_E": "P8_16",
                    "SEG_D": "P9_X",
                    "SEG_C": "P9_X",
                    "ROT_A": "P9_X",
                    "ROT_B": "P9_X",
                    "BTN": "P9_X",
                    "RGB_R": "P9_X",
                    "RGB_G": "P9_X",
                    "RGB_B": "P9_X"
                }
            },
            "4": {
                "display": {
                   "type": "hdd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P8_10",
                   "index": 3
                },
                "hardware": "switchbank",
                "pins": {
                    "LCD_E": "P8_10",
                    "SW_1": "P9_X",
                    "SW_2": "P9_X",
                    "SW_3": "P9_X",
                    "SW_4": "P9_X",
                    "LED_1": "P9_X",
                    "LED_2": "P9_X",
                    "LED_3": "P9_X",
                    "LED_4": "P9_X"
                }
            },
            "5": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P9_13",
                   "index": 3
                },
                "hardware": "illuminatedbutton",
                "pins": {
                    "LCD_E": "P9_13",
                    "BTN": "P9_X",
                    "LED": "P9_X"
                }
            },
            "6": {
                "display": {
                   "type": "nokia",
                   "width": 14,
                   "height": 6,
                   "pin": "P9_X",
                   "index": 2
                },
                "hardware": "potentiometer",
                "pins": {
                    "LCD_SCE": "P9_11",
                    "POT": "P9_X"
                }
            }
        } 
    },
    "interface": {
        "ip": "192.168.1.32",
        "controls": [
            {
                "id": "1",
                "width": 14,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red",
                            "magenta", 
                            "green",
                            "cyan",
                            "yellow",
                            "white"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0
                    },
                    {
                        "type": "verbs",
                        "assignable": 1,
                        "safe": 0,
                        "fixed": 0
                    }
                ]
            },
            {
                "id": "2",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    }
                ]
            },
            {
                "id": "3",
                "width": 16,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "values": [
                            "blue", 
                            "red", 
                            "green",
                            "cyan",
                            "yellow"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 1,
                        "fixed": 0
                    }
                ]
            },
            {
                "id": "4",
                "width": 16,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    }
                ]
            },
            {
                "id": "5",
                "width": 16,
                "gamestart": 1,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    }
                ]
            },
            {
                "id": "6",
                "width": 14,
                "supported": [
                    {
                        "type": "toggle",
                        "assignable": 0
                    },
                    {
                        "type": "selector",
                        "assignable": 0,
                        "min": 0,
                        "max": 10
                    },
                    {
                        "type": "colour",
                        "assignable": 0,
                        "values": [
                            "white", 
                            "yellow", 
                            "cyan",
                            "green",
                            "magenta",
                            "red",
                            "blue"
                        ]
                    },
                    {
                        "type": "words",
                        "assignable": 0,
                        "safe": 0,
                        "fixed": 0,
                        "list": "allcontrolwords"
                    },
                    {
                        "type": "verbs",
                        "assignable": 0,
                        "fixed": 0,
                        "list": "verbs"
                    }
                ]
            }
        ]
    }
}
