{
    "local": {
        "server": "192.168.1.30"
    },
    "interface": {
        "controls": [
            {
                "id": 1,
                "width": 16,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    },
                    {
                        "type": "selector",
                        "assignable": 1
                    },
                    {
                        "type": "colour",
                        "assignable": 1,
                        "safe": 1
                    },
                    {
                        "type": "words",
                        "assignable": 1,
                        "safe": 1
                    },
                    {
                        "type": "inactive"
                    }
                ]
            },
            {
                "id": 2,
                "width": 16,
                "supported": [
                    {
                        "type": "selector",
                        "assignable": 0
                    },
                    {
                        "type": "colour",
                        "assignable": 0
                    }
                ]
            }
        ]
    }
}
