[Unit]
Description=SpaceHack Console game client
After=syslog.target

[Service]
ExecStart=/usr/bin/python /home/root/ConsoleGame/client/game.py
WorkingDirectory=/home/root/ConsoleGame/client
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
